.env
pkg
/.bundle
.DS_Store
TAGS
REVISION
*.tmproj
*~
.settings
.project
.tasks-cache
.svn
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/log/*.log
/tmp/**/*
/tmp/restart.txt
actionmailer_config_DONOTVERSION.rb
*DONOTVERSION*
/vendor/src/**/*
/db/*.sqlite*
/public/ac/*
/public/uploads/*
/public/sitemap*.xml.gz
/coverage
/doc/app
/doc/plugins
/nbproject
/.idea
/public/web-assets/**/*
/sqlnet.log
.sass-cache/
/.fontcustom-manifest.json
/assets/yarn-debug.log*
/assets/.yarn-integrity
/assets/node_modules
/assets/yarn-error.log
/assets/yarn-debug.log*
/assets/.yarn-integrity
