.env
pkg
/.bundle
.DS_Store
TAGS
REVISION
*.tmproj
*~
.settings
.project
.tasks-cache
.svn
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/log/*.log
/tmp/**/*
/tmp/restart.txt
actionmailer_config_DONOTVERSION.rb
*DONOTVERSION*
/vendor/src/**/*
/db/*.sqlite*
/public/ac/*
/public/uploads/*
/public/sitemap*.xml.gz
/coverage
/doc/app
/doc/plugins
/nbproject
/.idea
/public/javascripts/cache/*
/public/stylesheets/cache/*
/public/stylesheets/compiled
/public/assets/**/*
/sqlnet.log
.sass-cache/
/.fontcustom-manifest.json
