%footer.navbar.navbar-default.navbar-static-bottom{role: "navigation"}
  .container-fluid
    .container.container-center
      .navbar-text= th '#copyright', year: Date.current.year, link: link_to(Settings.application.name, main_app.root_url)
