%meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
%meta{content: "en", "http-equiv" => "Content-Language"}/
%meta{content: "no", "http-equiv" => "imagetoolbar"}/
%meta{content: "width = device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable = no", name: "viewport"}/
%meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
%meta{content: "True", name: "HandheldFriendly"}/
%meta{content: "on", "http-equiv" => "cleartype"}/
%meta{content: "yes", name: "apple-mobile-web-app-capable"}/
%meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{content: "progid:DXImageTransform.Microsoft.Fade(Duration=0.2)", "http-equiv" => "Page-Exit"}/
%meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
%meta{content: "all", name: "robots"}/
%link{href: "/startup.png", rel: "apple-touch-startup-image"}/
