
.icon-dashboard:before { content: '\e800'; } /* '' */
.icon-yes:before { content: '\e801'; } /* '' */
.icon-no:before { content: '\e802'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-campaign:before { content: '\e804'; } /* '' */
.icon-company:before { content: '\e80b'; } /* '' */
.icon-external:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-logout:before { content: '\e810'; } /* '' */
.icon-back:before { content: '\e811'; } /* '' */
.icon-refresh:before { content: '\e815'; } /* '' */
.icon-add:before { content: '\e817'; } /* '' */
.icon-save:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e81a'; } /* '' */
.icon-password:before { content: '\e81c'; } /* '' */
.icon-updated:before { content: '\e81e'; } /* '' */
.icon-created:before { content: '\e81f'; } /* '' */
.icon-deleted:before { content: '\e821'; } /* '' */
.icon-comment:before { content: '\e822'; } /* '' */
