%dl
  %dt=ha resource_class, :id
  %dd= resource.id

%dl
  %dt=ha resource_class, :email
  %dd= resource.email

%dl
  %dt
    =ha resource_class, :created_at
    \/
    =ha resource_class, :updated_at
  %dd
    =tw resource.created_at
    \/
    =tw resource.updated_at
