@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'icons-rails';
@import 'data-link';
@import 'translations-missing';

.form-control[readonly] {
  cursor: default;
}

html {
  min-height: 100%;
}

body {
  font-size: 16px;
}
