@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'icons-rails';

[data-link] {
  cursor: pointer;
}

.form-control[readonly] {
  cursor: default;
}

.translation_missing {
  color: #ff0000;
  -webkit-animation: translation_missing_pulse 1s infinite alternate;
}

@-webkit-keyframes translation_missing_pulse {
  0% {color: #ff0000;}
 25% {color: #f56363;}
 50% {color: #c88686;}
 75% {color: #923232;}
 95% {color: #d20c0c;}
}

html {
  min-height: 100%;
}

body {
  font-size: 16px;
}
